@media print {
  @page {
    size: A4 potrait;
    page-break-inside: avoid;
    page-break-after: always;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    /* height: 100px;
    width: 100%; */
    /* size: 76mm 297mm potrait; */
  }
}
